<div class="container">
  <header>
    <div class="logo">
      <mat-icon svgIcon="logo"></mat-icon>
    </div>
    <div class="menu">
      <button mat-button
              [matMenuTriggerFor]="menu">My albums</button>
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let album of availableAlbums$ | async"
          (click)="openAlbum(album.id)"
        >
          {{ album.name }}
        </button>
      </mat-menu>
    </div>
  </header>
  <div class="main-content">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
